/* COLORS 
-------------------- */
// -- Primary colors -----
$primary-color:      #f16162;

// -- Font colors -----
$txt-color:          #999999;

// -- Body colors -----
$grey-bg:            #f4f2f3;
$pure-black:         #000000;
$custom-black:       #2d2d2d;
$border-color:       #e0e0e0;

// -- Other colors -----
$fb-blue:            #334f8e;